name: Publish

on:
  push:
    branches: '*'

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-13
          - macos-14
          - windows-2022
          - windows-11-arm
        package: [swig, swig-jse]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12' 

      - name: Get Conan
        id : conan
        uses: turtlebrowser/get-conan@main

      - name: Cache conan artifacts
        id: conan-artifacts
        uses: actions/cache@v4
        with:
          path: ~/.conan2
          key: conan-${{ runner.os }}-${{ runner.arch }}

      - name: Conan version
        run: echo "${{ steps.conan.outputs.version }}"

      - name: Create default profile
        run: conan profile detect || echo ok
        shell: bash

      - name: Identify latest version
        run: |
          pip install -r requirements.txt
          python get_version.py ${{ matrix.package }}/config.yml
          python get_version.py ${{ matrix.package }}/config.yml >> $GITHUB_ENV
        shell: bash

      - name: Create package
        run: conan create ${{ matrix.package }}/all --version ${{ env.LATEST }} --build=missing

      - name: List all dependencies
        id: deps
        shell: bash
        run: |
          echo pkgs=`conan graph info --require=${{ matrix.package }}/${{ env.LATEST }} -f json | jq '.graph.nodes."0".dependencies | to_entries | .[].value.ref'` >> $GITHUB_OUTPUT

      - name: Upload to swig-jse
        shell: bash
        run: |
          conan remote add swig-jse https://swig.momtchev.com/artifactory/api/conan/swig-jse || echo ok
          conan remote login swig-jse github -p '${{ secrets.ARTIFACTORY_PASSWORD }}'
          for pkg in ${{ steps.deps.outputs.pkgs }}; do conan upload $pkg -r=swig-jse; done
